b {
  color: red;
  font-size: 34px;
}

h1 {
  font-family: "poppins";
  font-size: 34px;
}

a {
  text-decoration: none;
}
button {
  background-color: rgb(64, 64, 143);
  width: 250px;
  height: 50px;
}
