b{
    color:red;
    font-size: 34px;
}

h1{
    font-family: oswald, sans-serif;
    font-size: 54px;


}

a{
    text-decoration: none;
}
button{
    background-color: blue;
    width: 250px;
    height: 50px;

}